body { 
	background-color: #036;
	font-family: helvetica, sans serif;
	font-size: 14px;
	background: url(../back.jpg);
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
}



.tempDet,.loc{
  color: white;
  font-size: 75px;
  margin-top: -500px;
  animation-delay: .5s;
  text-align: center;
  font-family: 'Bangers', cursive;

  margin-left: 55px;
}

.loc{
  font-size: 70px;
  margin-top: 0px;
  font-family: 'Bangers', cursive;
  margin-left: 45px;
  animation-delay: 1s;



}

.btnT{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  position: absolute;
  right: -59.5%;
  cursor: pointer;
  top: -1%;
  text-align: center;
  /*margin-right: 70px;*/
  background: transparent;
  color: white;
  border-color: white;
  border: 2px solid;
  width: 120px;
  height: 40px;
  border-radius: 50px;
}



a, a:visited {
	color: #fc0;
}

#container {
	position: relative;
	z-index: 2;
	top: 20px;
	width: 600px;
	height: 670px;
	margin-left: auto;
	margin-right: auto;
}

#text {
	position: absolute;
	z-index: 3;
	width: 560px;
	height: 100%;
	margin: 20px;
	color: #fff;
}

#translucentBG {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #3A6691;
	opacity: 0.8;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 4px #000;
	-webkit-box-shadow: 1px 1px 4px #000;
	box-shadow: 1px 1px 4px #000;
}

h1 { color: #fc0; }

h2 { color: #F7DD74;}